<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log.dir" value="/var/log" />
	<property name="app.name" value="grpc-server"/>
	<property name="log.name" value="logFile" />
 
	<!--  配置appender(可配置多个)  -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L- %msg%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>debug</level>
        </filter>
	</appender>
	<appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.dir}/${app.name}/${log.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.dir}/${app.name}/${log.name}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L- %msg%n</pattern>
			<charset class="java.nio.charset.Charset">UTF-8</charset>
		</encoder>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
	</appender>
	
	<!--root是默认的logger 这里设定输出级别是debug-->
    <root level="debug">
        <!--定义了两个appender，日志会通过往这两个appender里面写-->
        <appender-ref ref="consoleAppender"/>
		<appender-ref ref="fileAppender" />
    </root>
</configuration>